In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#descriptive statistics 
#distribution of data 
df = pd.read_csv("heart disease prediction.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233.0,1,0.0,150.0,0.0,2.3,0,0,1,1
1,37,1,2,130,250.0,0,1.0,187.0,0.0,3.5,0,0,2,1
2,41,0,1,130,204.0,0,0.0,172.0,0.0,1.4,2,0,2,1
3,56,1,1,120,236.0,0,1.0,178.0,0.0,0.8,2,0,2,1
4,57,0,0,120,354.0,0,1.0,163.0,1.0,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,57,0,0,140,241.0,0,1.0,123.0,1.0,0.2,1,0,3,0
305,45,1,3,110,264.0,0,1.0,132.0,0.0,1.2,1,0,3,0
306,68,1,0,144,193.0,1,1.0,141.0,0.0,3.4,1,2,3,0
307,57,1,0,130,131.0,0,1.0,115.0,1.0,1.2,1,1,3,0
308,57,0,1,130,236.0,0,0.0,174.0,0.0,0.0,1,1,2,0

In [3]:
#mean value 
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
a = df[columns_to_change].mean()
a

trestbps    131.715210
chol        245.255738
thalach     149.141447
oldpeak       1.034967
slope         1.391586
thal          2.317152
age          54.420712
dtype: float64

In [4]:
#median value
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
a = df[columns_to_change].median()
a

trestbps    130.0
chol        240.0
thalach     152.0
oldpeak       0.8
slope         1.0
thal          2.0
age          56.0
dtype: float64

In [5]:
#mode value
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
a = df[columns_to_change].mode()
a

   trestbps   chol  thalach  oldpeak  slope  thal   age
0     130.0  197.0    162.0      0.0    1.0   2.0  57.0
1       NaN  204.0      NaN      NaN    NaN   NaN   NaN
2       NaN  234.0      NaN      NaN    NaN   NaN   NaN

In [6]:
#Measure of dispersion
#maximum values
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
b = df[columns_to_change].max()
b

trestbps    200.0
chol        564.0
thalach     202.0
oldpeak       6.2
slope         2.0
thal          3.0
age          77.0
dtype: float64

In [7]:
#minimum values
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
c = df[columns_to_change].min()
c

trestbps     94.0
chol        126.0
thalach      71.0
oldpeak       0.0
slope         0.0
thal          0.0
age          29.0
dtype: float64

In [8]:
#range of values
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
range_value = df[columns_to_change].max() - df[columns_to_change].min()
print("RANGE VALUE:")
range_value

RANGE VALUE:

trestbps    106.0
chol        438.0
thalach     131.0
oldpeak       6.2
slope         2.0
thal          3.0
age          48.0
dtype: float64

In [9]:
#variance 
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
variance_value = df[columns_to_change].var()
print("VARIANCE:")
variance_value

VARIANCE:

trestbps     307.249800
chol        2726.796225
thalach      532.821511
oldpeak        1.350216
slope          0.375384
thal           0.379607
age           81.900349
dtype: float64

In [10]:
#standard deviation
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
standard_deviation = df[columns_to_change].std()
print("STANDARD DEVIATION")
standard_deviation

STANDARD DEVIATION

trestbps    17.528542
chol        52.218734
thalach     23.082927
oldpeak      1.161988
slope        0.612685
thal         0.616123
age          9.049881
dtype: float64

In [11]:
#percentile 
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
percentile_25 = df[columns_to_change].quantile(0.25)
percentile_50= df[columns_to_change].quantile(0.50)
percentile_75 = df[columns_to_change].quantile(0.75)
print("PERCENTILE :")
print(percentile_25)
print(percentile_50)
print(percentile_75)

PERCENTILE :
trestbps    120.0
chol        210.0
thalach     132.0
oldpeak       0.0
slope         1.0
thal          2.0
age          48.0
Name: 0.25, dtype: float64
trestbps    130.0
chol        240.0
thalach     152.0
oldpeak       0.8
slope         1.0
thal          2.0
age          56.0
Name: 0.5, dtype: float64
trestbps    140.00
chol        274.00
thalach     165.25
oldpeak       1.60
slope         2.00
thal          3.00
age          61.00
Name: 0.75, dtype: float64

In [12]:
#Interquantile  Range 
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
percentile_25 = df[columns_to_change].quantile(0.25)
percentile_75 = df[columns_to_change].quantile(0.75)
IQR = percentile_75 - percentile_25
print(f"INTERQUANTILE RANGE : {IQR}")

INTERQUANTILE RANGE : trestbps    20.00
chol        64.00
thalach     33.25
oldpeak      1.60
slope        1.00
thal         1.00
age         13.00
dtype: float64

In [13]:
#shape of the distribution
#skewness
skewness = {}
column_to_transform =['age','sex','cp','trestbps','chol','fbs','thalach','exang','oldpeak']
for columns in column_to_transform:
    skewness_dict = df[columns].skew()
    skewness[columns] = skewness_dict
for columns,skewness_dict in skewness.items():
    print(f"{columns}:{skewness_dict}")

age:-0.21053349410077826
sex:-0.7896604745031519
cp:0.5032007356817235
trestbps:0.7011297295888034
chol:1.1185083415358394
fbs:1.946951386646303
thalach:-0.5218831637630919
exang:0.7366872019231162
oldpeak:1.283741974188318

In [14]:
#handling the skewness
import numpy as np
column_to_change =['age','sex','thalach']
for columns in column_to_change:
    df[columns] = np.log1p(df[columns])

In [15]:
skewness = {}
column_to_transform =['age','sex','cp','trestbps','chol','fbs','thalach','exang','oldpeak']
for columns in column_to_transform:
    skewness_dict = df[columns].skew()
    skewness[columns] = skewness_dict
for columns,skewness_dict in skewness.items():
    print(f"{columns}:{skewness_dict}")

age:-0.5849829546155384
sex:-0.7896604745031519
cp:0.5032007356817235
trestbps:0.7011297295888034
chol:1.1185083415358394
fbs:1.946951386646303
thalach:-0.9833255751092426
exang:0.7366872019231162
oldpeak:1.283741974188318

In [16]:
#kurtosis 
columns_to_change = ['trestbps','chol','thalach','oldpeak','slope','thal','age']
kurtosis = df[column_to_change].kurt()
kurtosis

age       -0.110571
sex       -1.385446
thalach    1.105073
dtype: float64